
<div style="padding: 20px;">
  <h2>Mi héroe</h2>
<form  class="formulario" autocomplete="off" [formGroup]="heroForm">
    <mat-form-field hintLabel="Max 25 caracteres" style="width: 50%;">
      <mat-label>Héroe</mat-label>
      <input matInput type="text" placeholder="Name" formControlName="name" #input [value]="input.value.toUpperCase()" maxlength="25">
      <mat-hint align="end">{{input.value.length}}/25</mat-hint>
      <mat-error [hidden]="!name.hasError('minlength')">
       Al menos 3 caracteres
      </mat-error>
      <mat-error [hidden]="!name.hasError('required')">
        Campo requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Max 500 caracteres" style="width: 50%;">
      <mat-label>Poder</mat-label>
      <textarea style="min-height: 140px;" #textarea matInput type="textarea" placeholder="Descripción" formControlName="description" maxlength="300"
      ></textarea>
      <mat-hint align="end">{{textarea.value.length}}/500</mat-hint>
      <mat-error [hidden]="!description.hasError('required')">
        Campo requerido
      </mat-error>
      <mat-error [hidden]="!name.hasError('minlength')">
        Al menos 5 caracteres
       </mat-error>
    </mat-form-field>

  <div fxFlex= 'auto'>
    <button mat-raised-button color="primary" style="margin-right:10px" (click)="add()" *ngIf="formNew" [disabled]="!heroForm.valid">
      Añadir
    </button>
    <button mat-raised-button color="primary" (click)="save()" style="margin-right:10px" *ngIf="!formNew" [disabled]="!heroForm.valid">
      Guardar
    </button>
    <button mat-raised-button color="warn" (click)="delete()" style="margin-right:10px" *ngIf="!formNew">
      Borrar
    </button>
    <button mat-raised-button type="button" color="accent" (click)="goBack()">Regresar</button>
  </div>
</form>
</div>





